.resume-container {
    padding: 20px;
  }
  
  .cv-img {
    border: 1px solid #444;
    max-width: 100%;
    height: auto;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    border-radius: 10px;
  }
  
  .cv-btn {
    background-color: #3498db;
    color: white;
    padding: 10px 25px;
    font-weight: bold;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border: none;
  }
  
  .cv-btn:hover {
    background-color: #2e86c1;
    color: #fff;
  }
  