*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: #fff;
}

.cv a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.btn{
    display: inline-block;
    padding: 11px 26px;
    background: #13bbff;
    border: 2px solid ;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: all .50s ease;
}

.btn:hover{
    background: transparent;
    color: white;
    box-shadow: white;
}