* {
    margin: 0px;
    padding: 0px;
    font-family:sans-serif;
    box-sizing: border-box;
}



.languages {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    flex-wrap: wrap;
    gap: 20px;
}

.frameworks {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    flex-wrap: wrap;
    gap: 20px;
}

.control {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    flex-wrap: wrap;
    gap: 20px;
}