* {
    margin: 0px;
    padding: 0px;
    font-family: cursive;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap'); 

.languages {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    flex-wrap: wrap;
    gap: 20px;
}

.frameworks {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    flex-wrap: wrap;
    gap: 20px;
}

.control {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    flex-wrap: wrap;
    gap: 20px;
}